.body__form {
  background-color: #5EB1BF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em 0 1em;
  box-shadow: 0 4px 2px -2px rgba(33,33,33,.7);
}

.form__input {
  background-color: #CDEDF6;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  margin: 0 10px 10px;
}

.form__button {
  margin: 0 300px 20px;
  padding: 5px 10px 0;
  border: 2px solid #042A2B;
  background-color: transparent;
  color: #042A2B;
  transition: 0.3s;
  line-height: 24px;
  font-size: 1.1em;
  border-radius: 5px;
  font-weight: 600;
}

.form__button:hover {
  background-color: #042A2B;
  color: #5EB1BF;
  cursor: pointer;
}

@media (min-width: 641px) {
  .form__input {
    width: 50%;
  }
}
