.section__card {
  display: block;
  padding: 1em;
  margin: 1em;
  width: 200px;
  min-width: 200px;
  height: 200px;
  overflow: scroll;
  background: #ffc;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.card__title {
  margin-bottom: 1em;
}

.card__description {
  font-size: 100%;
  font-weight: normal;
}

.card__footer {
  position: fixed;
  right: 15px; 
  bottom: 10px;
}

.footer__button {
  padding: 10px;
  font-size: 1.5em;
  background-color: transparent;
  border: transparent;
}

.card__content:hover,
.footer__button:hover{
  cursor: pointer;
}

article:nth-child(even) {
  position:relative;
  top:5px;
  transform:rotate(4deg);
}

article:nth-child(3n) {
  position:relative;
  top:-5px;
  transform:rotate(-3deg);
}

article:nth-child(5n) {
  position:relative;
  top:-10px;
  transform:rotate(5deg);
}
