@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: content-box;
}

html, body { 
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow: auto;
  }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif;
  color: #042A2B;
  background: url("https://res.cloudinary.com/cspaveljb/image/upload/v1499110969/cork_w2tt25.jpg") repeat;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
